footer{
    display: flex;
    justify-content: space-between;
    height: 20vh;
    width: 100%;
    background-color: #22d8b1;
}
#logo{
    width: 40vh;
    height: 20vh;
}
.meio {
    display: flex;
    margin-right: 5vh;
}

#copyright {
    font-size: 2.5vh;
    font-style: italic;
    margin-top: 6vh;
    margin-left: 16vh;
}
.redesSociaisLogos {
    margin-left: 1vh;
    margin-right: 2vh;
    width: 7vh;
    height: 7.2vh;
    max-height: 19vh;
}
.redesSociaisLogos:hover {
    opacity: 0.6;
}
#logos {
    display: flex;
    align-items: center;
    overflow-y: hidden;
}
#whatsappLogo{
    width: 8vh;
    height: 8.5vh;
}
#twitterLogo{
    width: 9vh;
    height: 9.5vh;
}
